# Игнорировать файлы конфигурации
.env

# Игнорировать базу данных SQLite
monitoring.db

# Игнорировать временные файлы и кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальное окружение
venv/
env/
